<!-- <div class="card-container">

    @for (item of contentArray; track item.id; let i=$index) {
      @if(i<5){
        <div class="card">   
        <header>  
        <h2>{{ item.title }}</h2>
        </header>
        
          <p>{{ item.description }}</p>
          <p>Creator: {{ item.creator }}</p>
          @if(item.imgURL){
             <img [src]="item.imgURL" alt="{{ item.title }} Image"   />
          }
          @if(item.type){ <p>Type: {{ item.type }}</p> }
          
          @if(item.tags && item.tags.length>0){
            <p class="tag">Tags: {{ item.tags.join(', ') }}</p>
          }
        </div>
        }
    }
     -->
     <div class="card-container">

        <ng-container *ngFor="let item of contentArray; let i=index">
            <div class="card" *ngIf="i < 5">
      
                <img  [src]="item.imgURL"  (click) = "logContentInfo(item.id.toString(), item.title)" />
                <div class="card-content">
      
                  <h2>{{ item.title }}</h2>
                  <h3>{{ item.id }}</h3>
      
                  <p class="description"> Description :{{ item.description }}</p>
      
                  <p class="creator">Creator: {{ item.creator }}</p>
      
                  <p class="type" *ngIf="item.type">Type: {{ item.type }}</p>
      
                  <div class="tags" *ngIf="item.tags && item.tags.length > 0">
                   <p class="tag"> Tags:{{ item.tags.join( ' , ' ) }} </p>
                   
                  </div>
                </div>
              </div>
            </ng-container>
          </div>
          <script>
        
      </script>
